<div class='d-row main-card'>
  <button class="collapsible row-body">
    <div class='container'>
      <div class='row title'>
        <div class='col-md-5'>
          <div class='row'>
            <h3>Insulation Installer</h3>
          </div>
          <div class='row'>
            <h5>Harper Installatoin inc</h5>
          </div>
          <div class='row'>
            <p>Start: 9AM May 4,2010 - 1 Day - 10hrs/day </p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='row'>
            <p>-Shovel</p>
          </div>
          <div class='row'>
            <p>-Manual Labour</p>
          </div>
        </div>
        <div class='col-md-3'>
          <span class="circle">$10/hr</span>
        </div>
      </div>
    </div>
  </button>
  <div class="content row-body">
    <div class='container'>
      <div class='row title'>
        <div class='col-md-5'>
          <div class='row'>
            <h3>Insulation Installer</h3>
          </div>
          <div class='row'>
            <h5>Harper Installatoin inc</h5>
          </div>
          <div class='row'>
            <p>Start: 9AM May 4,2010 - 1 Day - 10hrs/day </p>
          </div>
          <div class='row'>
            <p>Harper Installatoin inc needs a hardworking hussler to help them complete a landscaping project. </p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='row'>
            <button type="button" class="btn btn-primary filler" data-toggle="modal" data-target="#myModal">
              Click n Fill
            </button>
          </div>
        </div>
        <div class='col-md-3 hussler-info'>
          <div class='container'>
            <h5>Hussler Earnings:</h5>
            <h5>Hourly rate: 20$</h5>
            <h5>Total Hours: 200</h5>
            <h5>Total Payouts: 500$</h5>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-3 extras'>
          <h5>Skills Required:</h5>
          <ol>
            <li>Labour</li>
            <li>Screeding</li>
            <li>Shoveling</li>
          </ol>
        </div>
        <div class='col-md-4 extras'>
          <h5>Safety gear & Attire required:</h5>
          <ol>
            <li>Mask</li>
            <li>Gloves</li>
          </ol>
        </div>
        <div class='col-md-4'>
          <h5>Location:</h5>
          <p>Please arrive at xxx-xx-x Oliver Rd, Thunder Bay, at 8:00 PM <br> Your onsite contact: Mike M.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='d-row main-card'>
  <button class="collapsible row-body">
    <div class='container'>
      <div class='row title'>
        <div class='col-md-5'>
          <div class='row'>
            <h3>Insulation Installer</h3>
          </div>
          <div class='row'>
            <h5>Harper Installatoin inc</h5>
          </div>
          <div class='row'>
            <p>Start: 9AM May 4,2010 - 1 Day - 10hrs/day </p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='row'>
            <p>-Shovel</p>
          </div>
          <div class='row'>
            <p>-Manual Labour</p>
          </div>
        </div>
        <div class='col-md-3'>
          <span class="circle">$10/hr</span>
        </div>
      </div>
    </div>
  </button>
  <div class="content row-body">
    <div class='container'>
      <div class='row title'>
        <div class='col-md-5'>
          <div class='row'>
            <h3>Insulation Installer</h3>
          </div>
          <div class='row'>
            <h5>Harper Installatoin inc</h5>
          </div>
          <div class='row'>
            <p>Start: 9AM May 4,2010 - 1 Day - 10hrs/day </p>
          </div>
          <div class='row'>
            <p>Harper Installatoin inc needs a hardworking hussler to help them complete a landscaping project. </p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='row'>
            <button type="button" class="btn btn-primary filler" data-toggle="modal" data-target="#myModal">
              Click n Fill
            </button>
          </div>
        </div>
        <div class='col-md-3 hussler-info'>
          <div class='container'>
            <h5>Hussler Earnings:</h5>
            <h5>Hourly rate: 20$</h5>
            <h5>Total Hours: 200</h5>
            <h5>Total Payouts: 500$</h5>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-3 extras'>
          <h5>Skills Required:</h5>
          <ol>
            <li>Labour</li>
            <li>Screeding</li>
            <li>Shoveling</li>
          </ol>
        </div>
        <div class='col-md-4 extras'>
          <h5>Safety gear & Attire required:</h5>
          <ol>
            <li>Mask</li>
            <li>Gloves</li>
          </ol>
        </div>
        <div class='col-md-4'>
          <h5>Location:</h5>
          <p>Please arrive at xxx-xx-x Oliver Rd, Thunder Bay, at 8:00 PM <br> Your onsite contact: Mike M.</p>
        </div>
      </div>
    </div>
  </div>
</div>
